=render partial: 'ad_campaigns/campaign_name'

=render partial: 'ad_campaigns/nav_tabs'

%a.btn.btn-primary{href: new_ad_group_path} + Ad Group
.row
  %table.table.table-striped
    %thead
      %tr
        %th Ad Group
        %th Status
        %th Clicks
        %th Impr.
        %th CTR
        %th Avg. Pos.
    %tbody
      -@ad_groups.each do |group|
        %tr
          %td= group.name
          %td= group.paused? ? "Paused" : "Active"
          %td= group.clicks_count
          %td= group.views_count
          %td= number_to_percentage(group.ctr, precision: 4)
          %td= number_with_precision(group.avg_position, precision: 2)