=render partial: 'ad_campaigns/campaign_name'

=render partial: 'ad_campaigns/nav_tabs'
-if @campaign.nil?
  %a.btn.btn-primary{href: new_ad_group_path} + Ad Group
-else
  %a.btn.btn-primary{href: new_campaign_ad_group_path(@campaign)} + Ad Group
.row
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Ad Group
        %th Status
        %th Clicks
        %th Impr.
        %th CTR
        %th Avg. Pos.
    %tbody
      -@ad_groups.each do |group|
        %tr
          %td
            -if group.paused?
              =link_to play_icon, ad_group_toggle_path(group), class: 'btn btn-info'
            -else
              =link_to pause_icon, ad_group_toggle_path(group), class: 'btn btn-default'
          %td= link_to group.name, ad_group_path(group)
          %td= group.paused? ? "Paused" : "Active"
          %td= number_with_delimiter group.clicks_count
          %td= number_with_delimiter group.views_count
          %td= number_to_percentage(group.ctr * 100, precision: 4)
          %td= number_with_precision(group.avg_position, precision: 2)
.row
  =will_paginate(@ad_groups)