%a.btn.btn-primary{href: (defined?(@ad_group)) ? new_ad_path(ad_group_id: @ad_group.id) : new_ad_path} + Ad
.row
  %table.table.table-bordered
    %thead
      %th
      %th Ad
      %th Campaign
      %th Ad Group
      %th Status
      %th Clicks
      %th Impr.
      %th CTR
      %th
        Avg.
        %br/
        Pos.
    %tbody
      -edit_icon = "<i class='icon-edit'></i>".html_safe
      -pause_icon = "<i class='icon-pause'></i>".html_safe
      -play_icon = "<i class='icon-play'></i>".html_safe
      -@ads.each do |ad|
        %tr{class: ad.pending? ? 'alert' : ''}
          %td
            =link_to edit_icon, edit_ad_path(ad)
            -unless ad.pending?
              -if ad.paused?
                =link_to play_icon, ad_toggle_path(ad)
              -else
                =link_to pause_icon, ad_toggle_path(ad)
          %td= render partial: 'ad', locals: {ad: ad}
          %td= link_to ad.ad_campaign.name, campaign_path(ad.ad_campaign)
          %td= link_to ad.ad_group.name, ad.ad_group
          %td= ad.status
          %td= ad.ad_clicks_count
          %td= ad.ad_views_count
          %td= number_to_percentage(ad.ctr, precision: 2)
          %td= number_with_precision(ad.avg_position, precision: 2)
