-if @ad_group
  .row
    %p Ads within an ad group will be randomly selected for display to allow you to determine higher click-through-rate
%a.btn.btn-primary{href: (defined?(@ad_group)) ? new_ad_path(ad_group_id: @ad_group.id) : new_ad_path} + Ad
%a.btn.btn-success{href: '?show_deleted=true'} Show Deleted
.row
  %table.table.table-bordered
    %thead
      %th
      %th Ad
      %th Campaign
      %th Ad Group
      %th Status
      %th Clicks
      %th Impr.
      %th CTR
      %th
        Avg.
        %br/
        Pos.
    %tbody
      -edit_icon = "<i class='icon-edit'></i>".html_safe
      -pause_icon = "<i class='icon-pause'></i>".html_safe
      -play_icon = "<i class='icon-play'></i>".html_safe
      -delete_icon = "<i class='icon-remove'></i>".html_safe
      -restore_icon = "<i class='icon-ok'></i>".html_safe
      -@ads.each do |ad|
        %tr{class: ad.destroyed? ? 'error' : ad.pending? ? 'warning' : ''}
          %td
            %ul.unstyled
              -if ad.destroyed?
                %li
                  =form_for ad, as: :ad, url: ad_restore_path(ad) do |f|
                    =f.hidden_field :id
                    %button{type: 'submit', class: 'btn btn-warning'}
                      = restore_icon
              -else
                %li
                  =link_to edit_icon, edit_ad_path(ad), class: 'btn btn-info', title: 'Edit Ad'
                -unless ad.pending?
                  %li
                    -if ad.paused?
                      =link_to play_icon, ad_toggle_path(ad), class: 'btn btn-info', title: 'Enable Ad'
                    -else
                      =link_to pause_icon, ad_toggle_path(ad), class: 'btn', title: 'Disable Ad'
                %li
                  =form_for ad, as: :ad, url: ad_delete_path(ad) do |f|
                    =f.hidden_field :delete, value: true
                    =f.hidden_field :id
                    %button{type: 'submit', class: 'btn btn-warning'}
                      = delete_icon
          %td= render partial: 'ad', locals: {ad: ad}
          %td= link_to ad.ad_campaign.name, campaign_path(ad.ad_campaign)
          %td= link_to ad.ad_group.name, ad.ad_group
          %td= ad.status
          %td= ad.ad_clicks_count
          %td= ad.ad_views_count
          %td= number_to_percentage(ad.ctr, precision: 2)
          %td= number_with_precision(ad.avg_position, precision: 2)
