=render partial: 'ad_campaigns/campaign_name'

=render partial: 'ad_campaigns/nav_tabs'

%button=link_to "+ Ad", "#"
.row
  %table.table.table-striped
    %thead
      %th Ad
      %th Campaign
      %th Ad Group
      %th Status
      %th Clicks
      %th Impr.
      %th CTR
      %th
        Avg.
        %br/
        Pos.
    %tbody
      -@ads.each do |ad|
        %tr
          %td= render partial: 'ad', locals: {ad: ad}
          %td= link_to ad.ad_campaign.name, ad.ad_campaign
          %td= link_to ad.ad_group.name, ad.ad_group
          %td
          %td= ad.ad_clicks.count
          %td= ad.status
          %td= ad.ad_views.count
          %td= ad.ctr
          %td= ad.avg_position
