-domain = "#{page['url'].split('.onion')}.onion"
-highlights = OpenStruct.new(@highlights[page['url']])
-url = page['url']
-title = highlights.try(:title)
-if title.nil? || title.empty?
  -title = page['title']
  - if title.nil? || title.empty?
    -title = h "<No Title>"
-else
  -title = title[0]
-start = title.length
-content = highlights.try(:content)
-if content.nil?
  -content ||= page['content'][start...254+start]
-else
  -content = content[0]
.row
  .page-listing.span8
    .title
      %a{href:page['url'], data: {path: page['url']}}
        = title.html_safe
    .description
      -if content.nil?
        No Description
      -else
        =content.html_safe
    %span.path
      = url[0..60]
      = "..." if url.length > 60
      -#if include_more_links(@search_term)
        =# link_to "More from #{domain}", search_path(q: "#{@search_term} site:#{domain}")