-domain = page['host']
-highlights = OpenStruct.new(@search.highlights[page['id']])
-url = "/r?s=#{@search_id}&p=#{page['url']}"
-url = page['url'] if @instant
-title = highlights.try(:title).try(:first)
-if title.nil? || title.empty?
  -title = page['title']
  - if title.nil? || title.empty?
    -title = h "<No Title>"
-start = title.length
-content = highlights.try(:content).try(:first)
-if content.nil?
  -content ||= page['content'][start...254+start]
.row
  .page-listing.span8
    .title
      %a{href: url}
        = title.html_safe
    .description
      -if content.nil?
        No Description
      -else
        =content.html_safe
    %span.path
      = url[0..60]
      = "..." if url.length > 60
      -#if include_more_links(@search_term)
        =# link_to "More from #{domain}", search_path(q: "#{@search_term} site:#{domain}")