-domain = page['host']
-highlights = OpenStruct.new(@search.highlights[page['id']])
-url = "/r?s=#{@search_id}&p=#{CGI::escape page['url']}"
-url = page['url'] if @instant
-title = highlights.try(:title).try(:first)
-if title.nil? || title.empty?
  -title = page['title']
  - if title.nil? || title.empty?
    -title = h "<No Title>"
-start = title.length
-content = highlights.try(:content).try(:first)
-if content.nil?
  -content ||= page['content'][start...254+start]
-content.gsub!(/<hr$/, '')
-title.gsub!(/<hr$/, '')
-['<p>','</p>','<br>','<br/>'].each do |s|
  -content.gsub!(s, '')
  -title.gsub!(s, '')
.row
  .page-listing.span8
    .title
      %a{href: convert_to_proxy(url)}
        = title.html_safe
      %a{href: content_flag_path(path: page['url'], search_id: @search_id)}
        %i.icon-flag
    .description
      -if content.nil?
        No Description
      -else
        =content.html_safe
    %span.path
      = page['url'][0..60]
      = "..." if page['url'].length > 60
      -#if include_more_links(@search_term)
        =# link_to "More from #{domain}", root_path(q: "#{@search_term} site:#{domain}")