.row
  .page-listing.span10
    -domain = "#{page['url'].split('.onion')[0]}.onion"
    -url = page['url']
    -title = page['title']
    - if title.nil?
      -title = "<No Title>"
    -else

    .title
      %a{href:url, data: {path: url}}
        = title[0...80]
    .description
      -content = page['content']
      -start = title.length
      =content[start...80+start]
    %span.path
      = url[0..60]
      = "..." if url.length > 60
      -#if include_more_links(@search_term)
        =# link_to "More from #{domain}", search_path(q: "#{@search_term} site:#{domain}")