-content_for :title do
  #{@search_term} -
.row
  .span2
    .logo
  .span9{style: 'margin-top: 40px'}
    =render partial: 'search_bar', locals: {searched: @search_term}
.row
  .span9
    %p.muted#totals
      About
      =number_with_precision @total, delimiter: ',', significant: true, precision: 5, strip_insignificant_zeros: true
      results
    .row
      #instant_results.span9{style: 'display: none'}
    .search-results
      -@docs.each do |page|
        =render partial: 'page', locals: {page: page}
      .span9
        =will_paginate OpenStruct.new(total_pages: @total_pages, current_page: @page)
  .span3
    -unless @ads.nil? || @ads.empty?
      - @ads.each do |ad|
        =render partial: 'ad', locals: {ad: ad, search: true}
-content_for :javascripts do
  :javascript
    var search = "#{@search_term.gsub(/\s+/, '+')}";
    var keep_space = false; // One day It'll be #{@search_term.split(/s+/).count <= 2}!
    $(document).ready(function(){
      if(keep_space){
        $('#instant_results').show()
      }
      $.getJSON("#{instant_path}?search="+search, null,function(res){
        if(res['matches'] != null && res['matches'].length > 0) {
          matches = res['matches'];
          $.each(matches, function(k,e){
            str =  "<div class='instant-result'><h4>"+e.name+"</h4><hr/><dl class='"+e.type+"'>"
            method = e.method
            if(method == null){
              method = "title";
            }
            $.each(e.data, function(k,v){
              value = k.toLowerCase();
              if(method == "upper"){
                value = value.toUpperCase();
              } else if(method == "title"){
                value = value.titleize();
              }
              str += "<dt>"+value+"</dt>";
              str += "<dd>"+v+"</dd>";
            });
            str += "</dl></div><br />";
            $('#instant_results').append(str);
          });
          $('#instant_results').show();
        } else {
        $('#instant_results').hide();
        }
      }).fail(function(){ $('#instant_results').hide(); });
      $('.search-results a').on('mousedown', function(e){
        target = $(e.target)[0]

        href = target.getAttribute('href')
        $.get('/r?s=#{@search_id}&p='+href);
        wait_for = 200;
        wait_for += (new Date).getTime();
        _results = [];
        while ((new Date).getTime() < wait_for) {
          _results.push(i = wait_for);
        }
      });
    })

    $().ready(function(){
      Shadowbox.init();
    });