.row
  =render partial: 'side_nav'
  .span10
    .row
      .alert
        =t('ads.better_experience_managing_ads')
        #{link_to t("profile"), edit_advertiser_registration_path}!
    .row
      %h2= t('ads.information')
      %hr/
      %dl
        %dt= t('ads.balance')
        %dd
          = current_advertiser.balance
          BTC
        %dt= t('ads.apply_coupon')
        %dd
          =form_for :coupon, class: 'form-inline', url: credit_coupon_path do |f|
            .input-append
              =f.text_field :code, {placeholder: t("ads.coupon_code"), class: 'input-medium', id: "appendedInputButtons"}
              %button.btn{type: "submit"}= t('ads.apply')
    .row
      %h2= t('ads.ads')
      %table.table.table-striped
        %thead
          %tr
            %th= t('ads.title')
            %th= t('ads.status')
            %th= t('ads.bid')
            %th= t('ads.views')
            %th= t('ads.clicks')
            %th= t('ads.ctr')
            %th= t('ads.avg_pos')
        %tbody
          -@ads.each do |ad|
            %tr
              %td
                =link_to ad.title, ad
              %td
                -if ad.approved?
                  -if ad.disabled?
                    =t 'ads.paused'
                  -else
                    =t 'ads.active'
                  = link_to t("ads.toggle"), toggle_ad_path(ad), method: :put
                -else
                  = t 'ads.pending'
              %td= number_to_currency(ad.bid, precision: 6, unit: '&#x0e3f;', format: "%n%u")
              %td
                -if ad.approved?
                  = ad.ad_views_count
              %td
                -if ad.approved?
                  = ad.ad_clicks_count
              %td
                -unless !ad.approved? || ad.ad_views_count == 0
                  =number_to_percentage(ad.ctr, precision: 2)
              %td
                -unless ad.avg_position.nil?
                  = number_with_precision(ad.avg_position, precision: 2)