%h2 Advertisers

.row
  .col-sm-8.col-sm-offset-2
    %table.table-striped
      %thead
        %tr
          %th Advertiser
          %th Balance
          %th Ads
      %tbody
        -@advertisers.each do |advertiser|
          %tr
            %td= link_to "#{advertiser.username} ( #{advertiser.email.present? ? advertiser.email : 'no email'} )", admin_advertiser_path(advertiser)
            %td= number_to_currency(advertiser.balance, precision: 8, unit: '&#x0e3f;'.html_safe, format: "%u%n")
            %td= advertiser.ads.count
.row
  .col-sm-8.col-sm-offset-2
    =will_paginate @advertisers