%h2
  = @advertiser.username
  %small
    =@advertiser.email

.row
  .col-sm-4
    .panel.panel-default
      .panel-heading
        .panel-title
          Billing
      .panel-body
        %dl
          %dt Balance
          %dd= number_to_currency(@advertiser.balance, precision: 8, unit: '&#x0e3f;'.html_safe, format: "%u%n")
          %dt Transactions 30 days
          %dd= @advertiser.payments.where(created_at: 30.days.ago..1.minute.from_now).count
          %dt Transactions value
          %dd= number_to_currency(@advertiser.payments.where(created_at: 30.days.ago..1.minute.from_now).sum(:amount), precision: 8, unit: '&#x0e3f;'.html_safe, format: "%u%n")
          %dt BTC Transactions 30 days
          %dd= @advertiser.payments.where(created_at: 30.days.ago..1.minute.from_now, coupon_id: nil).where('bitcoin_address_id IS NOT NULL').count
          %dt BTC Transactions value
          %dd= number_to_currency(@advertiser.payments.where(created_at: 30.days.ago..1.minute.from_now, coupon_id: nil).where('bitcoin_address_id IS NOT NULL').sum(:amount), precision: 8, unit: '&#x0e3f;'.html_safe, format: "%u%n")
        %strong Add a credit to this advertiser
        =form_for Payment.new(advertiser: @advertiser), url: admin_advertiser_credit_path(@advertiser) do |f|
          =f.label :amount
          =f.text_field :amount
          %button.btn.btn-success{type: 'submit'} Credit