=render partial: 'ad_campaigns/campaign_name'
-if @ad_group
  =render partial: 'ad_groups/nav_tabs'
-else
  =render partial: 'ad_campaigns/nav_tabs'

%a.btn.btn-primary{href: (defined?(@ad_group)) ? new_keyword_path(ad_group_id: @ad_group.id) : new_keyword_path} + Keyword
.row
  %table.table.table-striped
    %thead
      %th
      %th Word
      %th Campaign
      %th Ad Group
      %th
        Searches Last
        %br/
        30 Days
      %th Status
      %th Clicks
      %th Impr.
      %th CTR
      %th Current Bid
    %tbody
      -edit_icon = "<i class='icon-edit'></i>".html_safe
      -pause_icon = "<i class='icon-pause'></i>".html_safe
      -play_icon = "<i class='icon-play'></i>".html_safe
      -delete_icon = "<i class='icon-remove'></i>".html_safe
      -up_icon = "<i class='icon-chevron-up'></i>".html_safe
      -down_icon = "<i class='icon-chevron-down'></i>".html_safe
      -still_icon = "<i class='icon-minus'></i>".html_safe
      -@keywords.each do |keyword|
        %tr
          %td
            %ul.unstyled
              %li
                =link_to edit_icon, edit_keyword_path(keyword), class: 'btn btn-info'
              %li
                -if keyword.paused?
                  =link_to play_icon, keyword_toggle_path(keyword), class: 'btn btn-info'
                -else
                  =link_to pause_icon, keyword_toggle_path(keyword), class: 'btn'
              %li
                =form_for keyword, as: :keyword, url: keyword_delete_path(keyword) do |f|
                  =f.hidden_field :delete, value: true
                  =f.hidden_field :id
                  %button{type: 'submit', class: 'btn btn-warning'}
                    = delete_icon

          %td= keyword.keyword.word
          %td= link_to keyword.ad_group.ad_campaign.name, campaign_path(keyword.ad_group.ad_campaign)
          %td= link_to keyword.ad_group.name, keyword.ad_group
          %td
            -if keyword.keyword.searches_counts.nil?
              Pending
            -else
              -if keyword.keyword.status_id == 0
                =down_icon
              -elsif keyword.keyword.status_id == 1
                =still_icon
              -else
                =up_icon
              = keyword.keyword.searches_counts unless keyword.keyword.searches_counts == 0
          %td= keyword.status
          %td= keyword.clicks
          %td= keyword.views
          %td= number_to_percentage(keyword.ctr, precision: 2)
          %td= number_to_currency(keyword.bid, precision: 8, unit: '&#x0e3f;', format: "%u%n")
.row
  =will_paginate(@keywords)