%table.table.table-bordered
  %thead
    %th
    %th Ad
    %th Advertiser
    %th Campaign
    %th Ad Group
  %tbody
    -@ads.each do |ad|
      %tr
        %td
          =form_for ad, as: :ad, url: admin_ad_toggle_path(ad) do |f|
            %button{type: 'submit', class: 'btn btn-info'}
              = play_icon
        %td= render partial: 'application/ad', locals: {ad: ad}
        %td= link_to ad.advertiser.username, admin_advertiser_path(ad.advertiser), method: :put
        %td= ad.ad_campaign.name
        %td= ad.ad_group.name
