!!! 5
%html
  %head
    %title
      =yield(:title)
      TorSearch
    %meta{property: 'og:image', content: "#{request.protocol}#{request.host_with_port}#{ asset_path 'logo-large.png' }"}
    %meta{property: 'og:title', content: 'TorSearch | Search Hidden Services'}
    %meta{property: 'og:type', content: 'company'}
    %meta{property: 'og:url', content: "#{request.protocol}#{request.host_with_port}"}


    = stylesheet_link_tag    "application", media: "all"
    = #stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{rel: "me", href: "http://chrismacnaughton.com"}
    -if Rails.env == 'development'
      :css
        .translation_missing::before {
          content: "[missing: ";
        }
        .translation_missing::after {
          content: " ]";
        }
        .translation_missing {
          display: inline-block;
          background: yellow;
        }