!!! 5
%html
  %head
    %title
      =yield(:title)
      TorSearch
    = stylesheet_link_tag    "application", media: "all"
    = #stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      -unless defined?(@nav) && @nav == false
        %ul.nav.nav-tabs
          =nav_link "Search", search_path
          =nav_link "Contact", contact_path
          =nav_link "Policies", policies_path
          -if current_advertiser
            =nav_link "Sign Out", destroy_advertiser_session_path, 'pull-right'
            =nav_link "Profile", edit_advertiser_registration_path, 'pull-right'
            =nav_link "Ads", ads_path, 'pull-right'
          -else
            =nav_link "Advertisers", advertising_path, "pull-right"
      -unless notice.nil? && alert.nil?
        .row.span12
          - if flash[:alert]
            .alert
              %a.close{data: {dismiss: 'alert'}} &times;
              = flash[:alert]
          - if flash[:notice]
            .alert.alert-info
              %a.close{data: {dismiss: 'alert'}} &times;
              = flash[:notice]
      .row
        .span12
          = yield
    .container
      =yield(:footer)
    = javascript_include_tag "application"
    =yield(:javascripts)