!!! 5
%html
  %head
    %title
      =yield(:title)
      TorSearch
    %meta{property: 'og:image', content: "#{request.protocol}#{request.host_with_port}#{ asset_path 'logo-large.png' }"}
    %meta{property: 'og:title', content: 'TorSearch | Search Hidden Services'}
    %meta{property: 'og:type', content: 'company'}
    %meta{property: 'og:url', content: "#{request.protocol}#{request.host_with_port}"}
    %meta{name: 'msapplication-config', content: 'none'}
    %link{rel: "apple-touch-icon", href: asset_path("apple-touch-icon.png")}
    %link{rel: "icon", sizes: "76x76", href: asset_path("apple-touch-icon-76x76.png")}
    %link{rel: "icon", sizes: "120x120", href: asset_path("apple-touch-icon-120x120.png")}
    %link{rel: "icon", sizes: "152x152", href: asset_path("apple-touch-icon-152x152.png")}

    = stylesheet_link_tag "application", media: "all"
    = #stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{rel: "me", href: "http://chrismacnaughton.com"}
  %body
    =yield(:above_container)
    .container-fluid
      =render partial: 'application_alerts'
      -if @show_top
        .row
          .col-md-8
            %h1
              =link_to image_tag('logo.png'), root_path
              %small
                Ads
          =yield(:heading)
        .row
          .panel.panel-info
            .panel-heading
      .alert.alert-warning
        %a.close{data: {dismiss: 'alert'}} &times;
        TorSearch will soon be shut down. At or around that time, it will be made open source, and the search index will be made available for download.
      =yield
      -unless @hide_footer
        =render partial: 'application_footer'