!!! 5
%html
  %head
    %title
      =yield(:title)
      TorSearch
    %meta{property: 'og:image', content: "#{request.protocol}#{request.host_with_port}#{ asset_path 'logo-large.png' }"}
    %meta{property: 'og:title', content: 'TorSearch | Search Hidden Services'}
    %meta{property: 'og:type', content: 'company'}
    %meta{property: 'og:url', content: "#{request.protocol}#{request.host_with_port}"}


    = stylesheet_link_tag    "application", media: "all"
    = #stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{rel: "me", href: "http://chrismacnaughton.com"}
  %body
    =yield(:above_container)
    .container-fluid
      =render partial: 'application_alerts'
      -if @show_top
        .row
          .col-md-8
            %h1
              =link_to image_tag('logo.png'), root_path
              %small
                Ads
          =yield(:heading)
        .row
          .panel.panel-info
            .panel-heading

      =yield
      -unless @hide_footer
        =render partial: 'application_footer'